body {
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.dark-theme {
    background-color: #07033a;
    color: #f8fcc5;
}

.light-theme {
    background-color: #f8fcc5;
    color: #07033a;
}
