.login_container {
    width: 80%;
    max-width: 400px;
    margin: auto; /* center the form horizontally */
    
    /* center everything inside Login Form */
    text-align: center; 

    /* ensure all elements are sized including padding and border */
    box-sizing: border-box;
}
    
#login_form {
    font-size: 30px;

    /* center "Login Form" legend */
    text-align: center; 
}

.forgot_password-light-theme, .signup_now-light-theme {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #0000ff;
    font-weight: bold;
    text-align: left; 
    text-decoration: none;
}

.forgot_password-dark-theme, .signup_now-dark-theme {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ffff00;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.not_a_member-light-theme {
    margin-top: 10px;
    font-size: 20px;
    color: #07033a;
}

.not_a_member-dark-theme {
    margin-top: 10px;
    font-size: 20px;
    color: #f8fcc5;
}

.login_container input[type="text"],
.login_container input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-input-submit-light-theme {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #0033ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-input-submit-dark-theme {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-input-with-cursor-light-theme {
    background-color: #07033a;
    cursor: not-allowed;
}

.login-input-with-cursor-dark-theme {
    background-color: #f8fcc5;
    cursor: not-allowed;
}

.login_message-dark-theme {
    margin-top: 10px;
    font-size: 24px;
    color: #FF7070;
    font-weight: bolder;
    text-shadow: 
    #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
    #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

.login_message-light-theme {
    margin-top: 10px;
    font-size: 24px;
    color: #AD0000;
    font-weight: bolder;
    text-shadow: 
    #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
    #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
}