body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#switch_theme_button-light-theme, #switch_theme_button-dark-theme {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.register_container {
    width: 80%;
    max-width: 400px;
    margin: auto; /* center the form horizontally */
    
    /* center everything inside Login Form */
    text-align: center; 

    /* ensure all elements are sized including padding and border */
    box-sizing: border-box;
}
    
#register_form {
    font-size: 30px;

    /* center "Login Form" legend */
    text-align: center; 
}

.login_now-light-theme {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #0000ff;
    font-weight: bold;
    text-align: left; 
    text-decoration: none;
}

.login_now-dark-theme {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ffff00;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.already_member-light-theme {
    margin-top: 10px;
    font-size: 20px;
    color: #07033a;
}

.already_member-dark-theme {
    margin-top: 10px;
    font-size: 20px;
    color: #f8fcc5;
}

.register_container input[type="text"],
.register_container input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-input-submit-light-theme {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #0033ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-input-submit-dark-theme {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-input-with-cursor-light-theme {
    background-color: #07033a;
    cursor: not-allowed;
}

.register-input-with-cursor-dark-theme {
    background-color: #f8fcc5;
    cursor: not-allowed;
}