<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>Login</title>

        <script type="module" th:src="@{/js/Cookie.js}"></script>
        <script type="module" th:src="@{/js/Theme.js}"></script>
        <script type="module" th:src="@{/js/all-pages.js}"></script>
        <script type="module" th:src="@{/js/login.js}"></script>

        <link rel="stylesheet" th:href="@{/css/all-pages.css}"/>
        <link rel="stylesheet" th:href="@{/css/login.css}"/>
    </head>

    <body class="container">
        <img th:src="@{/images/light.png}" id="switch_theme_button-light-theme"/>
        <img th:src="@{/images/dark.png}" id="switch_theme_button-dark-theme"/>

        <fieldset class="login_container">
            <legend id="login_form">Login Form</legend>

            <!-- login form -->
            <form th:action="@{/login}" method="post">
                <input id="login_username" type="text" name="username" placeholder="Username"/>
                <input id="login_password" type="password" name="password" placeholder="Password"/>
                
                <div class="forgot_password">Forgot password?</div>
                <input id="login_submit" type="submit" value="Log in"/>
            </form>

            <!-- register redirect -->
            <div class="not_a_member">Not a member? <a href="/register" class="signup_now">Sign up now</a></div>

            <div class="login_message" th:if="${param.error}">
                Invalid username and password
            </div>

            <div class="login_message" th:if="${param.logout}">
                You have been logged out.
            </div>
        </fieldset>

    </body>

</html>