<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>Register</title>

        <script type="module" th:src="@{/js/Cookie.js}"></script>
        <script type="module" th:src="@{/js/Theme.js}"></script>
        <script type="module" th:src="@{/js/all-pages.js}"></script>
        <script type="module" th:src="@{/js/register.js}"></script>

        <link rel="stylesheet" th:href="@{/css/all-pages.css}"/>
        <link rel="stylesheet" th:href="@{/css/register.css}"/>
        <link rel="stylesheet" th:href="@{/css/switch-theme-button.css}"/>
    </head>

    <body class="container">
        <img th:src="@{/images/light.png}" id="switch_theme_button-light-theme"/>
        <img th:src="@{/images/dark.png}" id="switch_theme_button-dark-theme"/>

        <fieldset class="register_container">
            <legend id="register_form">Register Form</legend>

            <form th:action="@{/register}" th:object="${user}" method="post">
                <input id="register_username" type="text" placeholder="Username" th:field="*{username}"/>
                <input id="register_password" type="password" placeholder="Password" th:field="*{password}"/>
                <input id="register_password_confirm" type="password" placeholder="Password Confirm" th:field="*{passwordConfirm}"/>

                <input id="register_submit" type="submit" value="Register"/>

                <div class="already_member">Already member? <a href="/login" class="login_now">Login now</a></div>
            </form>
        </fieldset>

    <!--    to keep for future, we gonna use that in other places -->
<!--        <form th:action="@{/logout}" method="post">-->
<!--            <input type="submit" value="Sign Out"/>-->
<!--        </form>-->
    </body>

</html>